.timelimit {
  text-align: center;
  min-height: 100vh;
  &__info {
    &__wrap {
      padding: 6rem 0 4rem 0;

      p {
        font-size: 1.4rem;
      }
    }
  }
  &__swipper {
    &__wrap {
      width: 120rem;
      margin: 0 auto;
      display: flex;
      gap: 3rem;
    }
  }
}

.map {
  margin-top: 4rem;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.3rem;
    height: 100%;
    text-align: left;

    &__img {
      overflow: hidden;
      position: relative;
      width: 55rem;
      height: 60rem;

      svg {
        position: absolute;
        transform: scale(0);
        object-fit: cover;
        transition: all ease-in-out .50s;
      }
    }
    &__text {
      flex: 1;
      h3 {
        font-size: 2.4rem;
        margin-bottom: 2.8rem;
      }
    }
  }
}


.timelimit__swipper__wrap {
  &-international,
  &-france,
  &-idf,
  &-paris {
    .map__wrapper__img {
      img {
        transition: transform .4s ease-in-out;
      }
    }
  }
  &-international {
    .map__wrapper__img {
      img {
        transform: translate(-96px, 267px) scale(3) !important;
      }
    }
  }
  &-france {
    .map__wrapper__img {
      img {
        transform: translate(398px, 1156px) scale(26) !important;
      }
    }
  }
  &-idf {
    .map__wrapper__img {
      img {
        transform: translate(2248px, 6836px) scale(160) !important;
      }
    }
  }
  &-paris {
    .map__wrapper__img {
      img {
        transform: translate(5268px, 15716px) scale(371) !important;
      }
    }
  }
}

@media screen and (max-width: 102.4rem) {
  .timelimit {
    &__info,
    &__swipper {
      &__wrap {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 47.9rem) {
  .timelimit {
    display: flex;
    flex-direction: column;

    &__info,
    &__swipper {
      &__wrap {
        width: 90%;
        margin: 0 auto;
      }
    }
    &__swipper {
      &__wrap {
        flex-direction: column;
        gap: unset;
      }
    }
    &__info__wrap {
      order: 1;
    }
    &__swipper__wrap {
      order: 2;
    }
  }

  .map {
    margin-top: 2rem;

    &__interaction {
      width: 90%;
      gap: 0.5rem;
      order: 3;
    }

    &__wrapper {
      gap: 2rem;

      &__img {
        display: flex;
        width: 100%;
        height: 50vh;
        order: 2;
      }

      &__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 1;
      }
    }
  }

  /*Map positions*/
  .timelimit__swipper__wrap {
    &-international {
      .map__wrapper__img {
        img {
          transform: translate(-35.6rem, 0) scale(1) !important;
        }
      }
    }

    &-france {
      .map__wrapper__img {
        img {
          transform: translate(-3rem, 60.5rem) scale(10) !important
        }
      }
    }
    &-idf {
      .map__wrapper__img {
        img {
          transform: translate(107rem, 397rem) scale(61) !important;
        }
      }
    }
    &-paris {
      .map__wrapper__img {
        img {
          transform: translate(280rem, 923rem) scale(140) !important;
        }
      }
    }
  }
}
