.timelimit {
  text-align: center;
  min-height: 100vh;
  &__info {
    &__wrap {
      padding: 6rem 0 4rem 0;

      p {
        font-size: 1.4rem;
      }
    }
  }
  &__swipper {
    &__wrap {
      width: 120rem;
      margin: 0 auto;
      display: flex;
      gap: 3rem;
    }
  }
}


.map {
  margin-top: 4rem;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.3rem;
    height: 100%;
    text-align: left;

    &__img {
      overflow: hidden;
      position: relative;
      width: 55rem;
      height: 60rem;

      svg {
        position: absolute;
        transform: scale(0);
        object-fit: cover;
        transition: all ease-in-out .50s;
      }
    }
    &__text {
      flex: 1;
      h3 {
        font-size: 2.4rem;
        margin-bottom: 2.8rem;
      }
    }
  }
}


.timelimit__swipper__wrap {
  &-international {
    .map__wrapper__img {
      svg {
        transform: translate(-96px, 267px) scale(3) !important;
      }
    }
  }
  &-france {
    .map__wrapper__img {
      svg {
        transform: translate(268px, 1266px) scale(54) !important;
      }
    }
  }
  &-idf {
    .map__wrapper__img {
      svg {
        transform: translate(855px, 3084px) scale(137) !important;
      }
    }
  }
  &-paris {
    .map__wrapper__img {
      svg {
        transform: translate(2326px, 7252px) scale(338) !important;
        path {
          stroke-width: 1;
        }
      }
    }
  }
}
