.timelimit {
  text-align: center;
  min-height: 100vh;
  h2 {
    padding-top: 10rem;
  }
  &__intro {
    font-size: 1.4rem;
  }

}


.map {
  margin-top: 4rem;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.3rem;

    &__img {
      flex: 1;
      overflow: hidden;
    }
    &__text {
      flex: 1;
    }
  }
}

.map__interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  .location{
    font-size: 1.7rem;
  }
  .time {
    font-size: 2.4rem;
    font-weight: bold;
  }
}
