.clients {
  padding: 50px 0;
  text-align: center;
  &__text {
    margin-bottom: 3rem;
  }
  &__slider {
    width: 120rem;
    position: relative;
    margin: 0 auto;

    &::before,
    &::after {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      width: 15%;
      z-index: 2;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
      transform: rotateZ(180deg);
    }
  }
}

@media screen and (max-width: 102.4rem) {
  .clients {
    &__slider {
      width: 90%;
    }
  }
}

@media screen and (max-width: 47.9rem) {
  .clients {
    h2,
    &__text {
      width: calc(100% - 4rem);
      margin: 0 auto 2rem;
    }
  }
}
