.clients {
  padding: 50px 0;
  text-align: center;
  &__text {
    margin-bottom: 3rem;
  }
  &__slider {
    width: 120rem;
    position: relative;
    margin: 0 auto;

    &::before,
    &::after {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      width: 15%;
      z-index: 2;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
      transform: rotateZ(180deg);
    }
  }
}

/*RESPONSIVE*/
/*Desktops low res*/
@media screen and (max-width: 102.4rem) {
  .clients {
    &__slider {
      width: 90%;
    }
  }
}

/*Tablets portrait*/
@media only screen and (min-width: 48rem) and (max-width: 76.7rem) {
  .clients {
    padding: 8rem 0 !important;

    h2,
    &__text {
      width: calc(100% - 8rem) !important;
      margin: 0 auto 4rem !important;
    }
  }
}

/*Mobiles*/
@media only screen and (max-device-width: 48rem) {
  .clients {
    padding: 4rem 0;

    h2,
    &__text {
      width: calc(100% - 4rem);
      margin: 0 auto 2rem;
    }
  }
}
