<div class="clients" [id]="id" [class.clients__darken]="(datas$ | async).options.darkenBg">
  <h2>{{(datas$ | async).info.title}}</h2>
  <div class="clients__text" *ngIf="(datas$ | async).info.text.length > 0">
    <p *ngFor="let text of (datas$ | async).info.text">{{text}}</p>
  </div>
  <div class="clients__slider">
    <swiper [config]="config">
      <ng-template class="clients__slider__slide" swiperSlide *ngFor="let slide of (datas$ | async).list">
        <a [href]="slide.url" target="_blank" *ngIf="slide.img">
            <img [src]="'https://h24-public-website.s3.eu-west-3.amazonaws.com/assets/event/event-audiovisuel/img/logos-clients/'+(datas$ | async).info.imgStyle+'/' + slide.img" [alt]="slide.name" />
        </a>
      </ng-template>
  </swiper>
  </div>
</div>
