<div class="prehome">
  <div class="prehome__header">
    <app-logo></app-logo>
  </div>

  <div class="theme-slider flexbox-slider-4">
    <div *ngFor="let data of datas$ |async" class="theme-slider__slide">
      <img [src]="data.img" alt="" class="theme-slider__img">
      <div class="theme-slider__content">
        <div class="theme-slider__content__wrapper">
          <h2 class="theme-slider__content__title" [innerHTML]="data.title"></h2>
          <div class="theme-slider__content__text" [innerHTML]="data.text"></div>
          <div class="theme-slider__content__cta" *ngIf="!data.cta || data.child?.length == 0">
            <button (click)="goToTheme(data.id)" class="app-button">{{data.cta}}</button>
          </div>
        </div>
        <div class="theme-slider__child" *ngIf="data.child?.length > 0">
          <div class="theme-slider__child__item" *ngFor="let child of data.child" (click)="goToTheme(child.id)">
            {{child.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
