@import "src/styles/colors";
/*
* Default Theme - event
*/
.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: transparent;
  height: 150px;
  padding: 0 40px;
  position: fixed;
  z-index: 100;
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25rem;
    z-index: 0;
    pointer-events: none;
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  app-logo {
    pointer-events: initial;
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  &__burger {
    background: none;
    position: relative;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 4rem;
    z-index: 10000;
    pointer-events: initial;

    svg {
      width: 40px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    path {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke-width: 5.5;
      stroke-linecap: round;
      &:nth-child(1) {
        stroke-dasharray: 40 139;
      }
      &:nth-child(3) {
        stroke-dasharray: 40 180;
      }
    }

    &--open {
      svg {
        transform: rotate(45deg);
        path {
          &:nth-child(1) {
            stroke-dashoffset: -98px;
          }
          &:nth-child(3) {
            stroke-dashoffset: -138px;
          }
        }
      }
    }
  }

  &__nav--open {
    &::after,
    app-logo {
      opacity: 0;
    }
  }
}
