.our-vehicles {
  position: relative;
  overflow: hidden;
  height: 60vh;

  &__wrap {
    padding: 8rem 0;
    width: 120rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .vehicle__illustration {
    margin: 8rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.vehicle {
  width: 45%;
  position: relative;
  z-index: 10;

  &__details {
    margin-top: 4rem;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 4rem;
    }
  }

  &__detail {
    flex: 1;
    min-width: 40%;
    font-size: 1.4rem;

    &::before {
      content: '';
      display: block;
      height: .1rem;
      width: 3rem;
      margin-bottom: 1.5rem;
    }

    &__label {
      font-weight: 500;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 102.4rem) {
  .our-vehicles {
    &__wrap {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 47.9rem) {
  .our-vehicles {
    height: auto;

    .vehicle__illustration {
      height: 70vh;

      // img {
      //   width: auto !important;
      //   height: 60vh !important;
      //   object-fit: contain !important;
      //   object-position: left !important;
      //   position: absolute !important;
      //   left: -35% !important;
      // }
    }

    &__wrap {
      width: 90%;
      margin: 0 auto;
      justify-content: center;
    }

    .vehicle {
      display: flex;
      flex-flow: column nowrap;
      flex: 1;

      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }
}
