<div class="key-data" [ngStyle]="{'background-image': 'url(' + (datas$ | async).info.img + ')'}">
  <div class="key-data__content">
    <div class="key-data__List">
      <div class="key-data__item" *ngFor="let key of (datas$ | async).list">
        <div class="key-data__item__val">{{key.value}}</div>
        <div class="key-data__item__label">{{key.label}}</div>
      </div>
    </div>
    <div class="key-data__cta" *ngIf="(datas$ | async).info.link.url as url">
      <a class="app-button" (click)="goToAnchor(url)">{{(datas$ | async).info.link.label}}</a>
    </div>
  </div>
</div>

<!-- <br /><br />
Key data Works
{{(datas$ | async | json)}}
<h1>{{(datas$ | async).info.link.label}}</h1>

<p>key-data works!</p>
<br /><br /> -->
