@import "./styles/fonts";

.key-data {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &::after {
    content:  "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 4rem;
    justify-content: flex-end;
    z-index: 1;

    &__text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 35%;

      h2 {
        font-family: $alt-font-family;
        font-size: 2.2rem;
        line-height: 2.6rem;
        font-weight: 600;
        text-transform: uppercase;


        &::after {
          content: "";
          display: block;
          height: .2rem;
          width: 7.5rem;
          margin: 2rem 0 3rem 0;
        }
      }

      p {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 4rem;
        }
      }

      a {
        align-self: flex-start;
        margin-top: 2rem;

        &:hover {
          text-shadow: none;
        }
      }
    }
  }

  &__List {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7rem;

    &__wrap {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 7rem;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    justify-content: flex-start;
    align-items: center;
    &__val {
      font-size: 4rem;
      font-family: $alt-font-family;
      font-weight: 800;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 102.4rem) {
  .key-data {
    &__List,
    &__cta {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 47.9rem) {
  .key-data {
    &__content {
      width: calc(100% - 4rem);
      gap: 4rem;
      margin-bottom: 4rem;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 11rem;
      padding-bottom: 2rem;

      &__text {
        max-width: unset;
      }
    }

    &__List,
    &__cta {
      margin: 0 auto;
    }

    &__List {
      justify-content: space-around;
      gap: 4rem;

      &__wrap {
        flex-direction: column;
        gap: 2rem;
      }
    }

    &__cta {
      display: inline-flex;
      justify-content: center;
    }

    &__item {
      text-align: center;

      &__val {
        font-size: 3.5rem;
      }
    }
  }
}
