.simple-text {
  text-align: center;
  padding: 8rem 0;
  &__cta {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 47.9rem) {
  .simple-text {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
}
