.theme_application {
  background: $application;
  color: $on-application;

  /*Global Links*/
  .app-a {
    color: $on-application;
    opacity: .75;
    &:hover, &_active {
      color: $on-application;
      opacity: 1;
    }
  }

  /*Global Button*/
  .app-button {
    border-color: $on-application;
    color: $on-application;
    &:hover, &:focus {
      background: $on-application;
      color: $application;
    }
  }

  /*Global Input*/
  .app-input {
    color: $on-express;
    border-color: $on-express;
    &:focus, &:hover {
      color: $event-input;
      border-color: $event-input;
    }
  }

  /*Loader*/
  .app-loader {
    &__backdrop {
      background-color: rgba(255, 251, 233, .8);
    }
  }

  /*Loading*/
  .app-loading {
    &__loader {
      color: $on-application;
      &::before,
      &::after {
        content: '';
        border: 2px solid rgba($on-application, .1);
        border-top: 4px solid $on-application;
      }

      &::before {
        border-right: 4px solid $on-application;
      }
    }
  }

  /*Page*/
  .app-page {
    background: $application;
    color: $on-application;

    &__footer {
      background: $application;
    }
  }

  /*Header*/
  .header {


    &__burger {
      path {
        stroke: $on-application;
      }
    }
  }

  /*Logo*/
  .logo {
    svg {
      fill: $on-application;
    }
  }

  /*Main nav*/
  .app-main-nav {
    background-color: $application;
    color: $on-application;
  }
  .tds-modal-backdrop {
    background-color: rgba(32,32,29,0);
  }
  .tds-modal-backdrop--open {
    background-color: rgba(32,32,29,0.3);
  }
  .submenu {
    ol {
      &::after {
        background: $on-application;
      }
    }
    &__item{
      &::before {
        background: $on-application;
      }
    }
  }

    .social__list {
    &__link {
      &:nth-child(1) {
        &:hover {
          color: $social-fb;
        }
      }
      &:nth-child(2) {
        &:hover {
          color: $social-tw;
        }
      }
      &:nth-child(3) {
        &:hover {
          color: $social-ig;
        }
      }
    }
  }
}
