$event: #20201d;
$event-dark: #181815;
$event-link: #90908e;
$event-input: #90908e;
$on-event: #fff;

$express: #ffffff;
$express-dark: #e4e4e4;
$express-link: #90908e;
$express-input: #90908e;
$on-express: #20201d;

$application: #fffbe9;
$application-dark: #fff8d9;
$application-link: #90908e;
$application-input: #90908e;
$on-application: #20201d;

$error: #f44336;
$on-error: #fff;

$success: #8bc34a;
$on-success: #ffffff;

$waiting: #ffa726;
$on-waiting: #ffffff;

$social-fb: #1877f2;
$social-tw: #1d98f0;
$social-ig: #d62f83;
