$event: #201f1e;
$event-retina: #242322;
$event-dark: #1c1b1a;
$event-dark-retina: #1E1D1C;
$on-event: #FFFFFF;
$event-input: rgba(red($on-event), green($on-event), blue($on-event), .65);

$express: #09264c;
$express-retina: #132B56;
$express-dark: #0e203c;
$express-dark-retina: #122343;
$on-express: #FFFFFF;
$express-input: rgba(red($on-express), green($on-express), blue($on-express), .65);

$exploitation: #FFFFFF;
$exploitation-dark: #F3F3F3;
$on-exploitation: #201f1e;
$on-exploitation-alt: #F59239;
$exploitation-input: rgba(red($on-exploitation), green($on-exploitation), blue($on-exploitation), .65);

$error: #f44336;
$on-error: #FFFFFF;

$success: #8bc34a;
$on-success: #FFFFFF;

$waiting: #ffa726;
$on-waiting: #FFFFFF;

$social-fb: #1877f2;
$social-tw: #1d98f0;
$social-ig: #d62f83;
