$event: #20201d;
$event-dark: #10100e;
$event-input: #90908e;
$on-event: #ffffff;

$express: #ffffff;
$express-dark: #e6e6e6;
$express-input: #90908e;
$on-express: #20201d;

$application: #FFCF3B;
$application-dark: #e6bb36;
$application-input: #90908e;
$on-application: #20201d;

$error: #f44336;
$on-error: #fff;

$success: #8bc34a;
$on-success: #ffffff;

$waiting: #ffa726;
$on-waiting: #ffffff;

$social-fb: #1877f2;
$social-tw: #1d98f0;
$social-ig: #d62f83;
