@import "reset";

@import "fonts";
@import "colors";
@import "mixins";

@import "base";
@import "layout";
@import "vendor";
@import "themes";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: $base-font-family;
  font-size: 62.5%;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: $event;
  color:$on-event;
}
body {
  font-size: $base-font-size;
}


