.app-page {
  &__legals {
    padding-top: 13rem;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    &__intro {
      text-align: center;
    }
  }
  .page-content {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 120rem;
    margin: 8rem auto 4rem auto;

    &__item {
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 0;

      &::after {
        content: "";
        display: block;
        width: 3.5rem;
        height: .2rem;
        background: #FFF;
        margin: 1.3rem 0 2rem 0;
      }
    }
  }
}

@media screen and (max-width: 102.4rem) {
  .app-page {
    &__legals {
      .page-content {
        width: calc(100% - 8rem);
        margin: 8rem auto 4rem auto;
      }
    }
  }
}

@media only screen and (max-device-width: 48rem) {
  .app-page {
    &__legals {
      .page-content {
        width: calc(100% - 4rem);
        margin: 4rem auto 2rem auto;
      }
    }
  }
}
