@import "./styles/colors";

.app-page {
  &__legals {
    padding-top: 13rem;

    h2 {
      text-align: center;
      margin: 0 0 2rem;
      font-size: clamp(2rem, 5vw, 2.6rem);
    }

    &__intro {
      max-width: 70rem;
      margin: 0 auto;
      padding: 0 2rem;
      text-align: center;
    }
  }

  .page-content {
    max-width: 120rem;
    width: 100%;
    min-height: 60vh;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    &__item {
      margin-bottom: 3rem;
    }

    h3 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 500;

      &::after {
        content: "";
        display: block;
        width: 3.5rem;
        height: 0.2rem;
        background: $accent;
        margin: 1.3rem 0 2rem;
      }
    }

    p {
      margin: 0 0 1rem;
      line-height: 1.6;
    }
  }
}
