<div class="our-values" [id]="id" [class.our-values__darken]="(datas$ | async).options.darkenBg">
  <div class="ov-panel" *ngFor="let value of (datas$ | async).list; let i = index">
    <div class="ov-panel__bg" [ngStyle]="{'background-image': 'url(' + value.img + ')'}"></div>
    <span class="ov-panel__scrim"></span>
    <div class="ov-panel__content">
      <span class="ov-panel__index">{{ (i + 1) | number:'2.0-0' }}</span>
      <div class="ov-panel__body">
        <div class="ov-panel__title">
          <mat-icon aria-hidden="true">{{ value.picto }}</mat-icon>
          <h2>{{ value.title }}</h2>
        </div>
        <div class="ov-panel__text">
          <p *ngFor="let text of value.text">{{ text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
