.our-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.value {
  position: relative;
  flex-basis: 50%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
  transition: all .3s ease-in-out;

  &__content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
    max-height: 13.6rem;
    z-index: 1;
    transition: max-height .3s ease;

    &__title {
      display: flex;
      gap: 4rem;
      padding: 4rem;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      h2 {
        font-size: 4.2rem;
        font-size: 500;
        margin-bottom: 0;
      }
    }

    &__text {
      display: flex;
      gap: 2rem;
      padding: 0 4rem 4rem;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      font-weight: normal;
      font-size: 1.6rem;

      p {
        margin: 0;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: opacity .25s ease-in-out;
  }

  &:hover {
    .value__content {
      max-height: 50vh;
    }
    .value__background {
      opacity: .5;
    }
  }
}

@media screen and (max-width: 102.4rem) {
}

@media screen and (max-width: 47.9rem) {
  .value {
    flex-basis: 100%;
    min-height: 50vh;
  }
}

// @keyframes ShowUp {
//   0% {}
//   25% {}
//   100% {

//   }
// }
