<div class="our-values" [id]="id" [class.our-values]="(datas$ | async).options.darkenBg">
  <div class="value" *ngFor="let value of (datas$ | async).list;" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
    <div class="value__content">
      <div class="value__content__title">
        <mat-icon>{{value.picto}}</mat-icon>
        <h2>{{value.title}}</h2>
      </div>
      <div class="value__content__text">
        <p *ngFor="let text of value.text">
          {{text}}
        </p>
      </div>
    </div>
    <div class="value__background" [ngStyle]="{'background-image': 'url(' + value.img + ')'}"></div>
  </div>
</div>
