<div class="our-values" [id]="id" [class.our-values__darken]="(datas$ | async).options.darkenBg">
  <div class="value" *ngFor="let value of (datas$ | async).list; let i = index"
    [class.value--open]="openIndex === i" (click)="toggle(i)" (keydown.enter)="toggle(i)"
    role="button" tabindex="0" [attr.aria-expanded]="openIndex === i">
    <div class="value__background" [ngStyle]="{'background-image': 'url(' + value.img + ')'}"></div>
    <div class="value__content">
      <div class="value__content__title">
        <mat-icon aria-hidden="true">{{ value.picto }}</mat-icon>
        <h2>{{ value.title }}</h2>
      </div>
      <div class="value__content__text">
        <p *ngFor="let text of value.text">{{ text }}</p>
      </div>
    </div>
  </div>
</div>
