<div class="teasing" [class.teasing__without-video]="!(datas$ | async).info.videoId" [class.teasing__without-video-img]="!(datas$ | async).info.videoId && !(datas$ | async).info.img">
  <div class="teasing__background" >
    <div class="teasing__background__video"></div>
    <div class="teasing__background__img" *ngIf="(datas$ | async).info.img && !(datas$ | async).info.videoId">
      <img [src]="(datas$ | async).info.img" alt="" />
    </div>
  </div>



  <div class="teasing__info">
    <div *ngIf="(datas$ | async).info.icon" class="teasing__info__icon" >
      <mat-icon>{{(datas$ | async).info.icon}}</mat-icon>
    </div>
    <h2 *ngIf="(datas$ | async).info.title" class="teasing__info__title">{{(datas$ | async).info.title}}</h2>
    <div *ngIf="(datas$ | async).info.text" class="teasing__info__text" [innerHTML]="(datas$ | async).info.text"></div>
  </div>
</div>

