.teasing {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__without-video {
    .teasing__info {
      align-items: center;
      justify-content: center;
    }
  }
  &__without-video-img {
    height: auto;
    .teasing__info {
      position: relative;
      align-items: center;
      justify-content: center;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
    }
    &__video {
      width: 100vw;
      height: 100vh;
    }
    iframe, img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
    gap: 2rem;
    padding: 4rem 0;
    text-align: center;
    &__title {
      margin: 0;
      font-size: 2.8rem;
    }
    &__text {
      font-size: 1.6rem;
    }
  }
}

#text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* height = 100 * (9 / 16) = 56.25 */
@media (min-aspect-ratio: 16/9) {
  .teasing {
    &__background {
      iframe {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
      }
    }
  }
}

/* width = 100 / (9 / 16) = 177.777777 */
@media (max-aspect-ratio: 16/9) {
  .teasing {
    &__background {
      iframe {
        width: 177.78vh;
      }
    }
  }
}
