.teasing {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__without-video-img {
    height: auto;

    .teasing__background {
      &::before {
        display: none;
      }
    }

    .teasing__info {
      position: relative;
      align-items: center;
      justify-content: center;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 45%;
        z-index: 2;
    }

    &__video {
      opacity: .7;
    }

    &__video,
    &__img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__video iframe,
    &__img img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 120rem;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 4rem 0;
    text-align: center;
    z-index: 5;

    &__title {
      margin: 0;
      font-size: 4.2rem;
      font-weight: 500;
      line-height: 1.1;
    }

    &__text {
      font-size: 1.6rem;
    }
  }
}

#text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* height = 100 * (9 / 16) = 56.25 */
@media (min-aspect-ratio: 16/9) {
  .teasing {
    &__background {
      iframe {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
      }
    }
  }
}

/* width = 100 / (9 / 16) = 177.777777 */
@media (max-aspect-ratio: 16/9) {
  .teasing {
    &__background {
      iframe {
        width: 177.78vh;
      }
    }
  }
}
