.citation {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 8rem 0;


  blockquote {
    text-align: center;
    font-weight: 500;
    font-size: 2.4rem;
    max-width: calc(120rem * 0.8);
    line-height: 1.4;
    position: relative;
    margin: 0 auto;

    &::before,
    &::after {
      content: "\e244";
      font-family: 'Material Icons';
      font-weight: normal;
      text-align: center;
      position: absolute;
      font-size: 15rem;
      line-height: 1;
      width: 15rem;
      height: 15rem;
    }

    &::before {
      top: 0;
      left: 0;
      transform: rotate(180deg) translate(80%, 55%);
    }
    &::after {
      bottom: 0;
      right: 0;
      transform: translate(80%, 0%);
    }
  }
}

@media screen and (max-width: 102.4rem) {
}

@media screen and (max-width: 47.9rem) {
  .citation {
    padding: 2rem;

    blockquote {
      max-width: calc(100% - 10rem);

      &::before,
      &::after {
        width: 10rem;
        height: 10rem;
        font-size: 10rem;
      }

      &::before {
        transform: rotate(180deg) translate(75%, 20%);
      }

      &::after {
        transform: translate(75%, 20%);
      }
    }
  }
}
