<div class="contact" [class.contact__darken]="(datas$ | async).options.darkenBg">
  <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
    <h2>{{(datas$ | async).info.title}}</h2>

    <div class="contact__fields__wrap">
      <div class="contact__fields" *ngFor="let row of (datas$ | async).list" [class.field--inline]="row.length > 1">
        <div *ngFor="let field of row">
          <app-form-field [control]="form.controls[field.name]" [patternError]="field.validators.pattern ? regexErrors[field.name] : null">
            <ng-container [ngSwitch]="field.type">
              <app-input *ngSwitchCase="'text'" formControlName="{{field.name}}" label="{{field.label}}" [required]="field.validators.required"></app-input>
              <app-textarea *ngSwitchCase="'textarea'" formControlName="{{field.name}}" label="{{field.label}}" [required]="field.validators.required"></app-textarea>
            </ng-container>
          </app-form-field>
        </div>
      </div>
    </div>

    <app-button type="submit">Envoyer</app-button>
    <code>
      {{form.value | json}}
    </code>
  </form>
</div>




<!-- <div class="test" [id]="id">
  Contact Works
  {{(datas$ | async | json)}}
  <br /><br />
</div> -->

