.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  form {
    width: 60rem;
    h2 {
      margin: 8rem 0 2rem 0;
      text-align: center;
    }
  }

  &__fields__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    app-form-field {
      flex: 1;
      .mat-mdc-form-field {
        display: block;
      }
    }

    .field--inline {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      div {
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 102.4rem) {
  .contact {
    form {
      width: 90%;

      h2 {
        margin: 4rem 0 2rem 0;
      }
    }
    &__fields--inline {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 64rem) {
}

@media screen and (max-width: 32rem) {
}
