<div class="contact">
  <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
    <h2>{{(datas$ | async).info.title}}</h2>

    <div class="contact__fields__wrap">
      <div class="contact__fields--inline" *ngFor="let field of (datas$ | async).list">
        <app-form-field [control]="form.controls[field.name]">
          <ng-container [ngSwitch]="field.type">
            <app-input *ngSwitchCase="'text'" formControlName="{{field.name}}" label="{{field.label}}" [required]="field.validators.required"></app-input>
            <app-textarea *ngSwitchCase="'textarea'" formControlName="{{field.name}}" label="{{field.label}}" [required]="field.validators.required"></app-textarea>
          </ng-container>
        </app-form-field>
      </div>
    </div>



    <!-- <div class="contact__fields__wrap">
      <div class="contact__fields--inline" *ngFor="let field of (datas$ | async).list">
        {{form.controls | json}}
        <app-form-field [control]="form.controls[field.name]">
          <ng-container [ngSwitch]="field.type">
            <app-input *ngSwitchCase="'text'" formControlName="{{field.label}}" label="{{field.label}}" [required]="field.require"></app-input>
            <app-textarea *ngSwitchCase="'textarea'" formControlName="{{field.label}}" label="{{field.label}}" [required]="field.require"></app-textarea>
          </ng-container>
        </app-form-field>
      </div>
    </div> -->


    <code>
      {{form.value | json}}
    </code>
  </form>
</div>




<!-- <div class="test" [id]="id">
  Contact Works
  {{(datas$ | async | json)}}
  <br /><br />
</div> -->

