.infos {
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 8rem 0 4rem 0;
    text-align: center;
  }
  &__reverse {
    .infos__wrapper {
      flex-direction: row-reverse;
      .infos__text__wrapper {
        padding-left: 4rem;
      }
      .infos__text {
        align-items: flex-end;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    margin: 4rem 0;

    &__wrapper {
      padding-right: 4rem;
    }

    &__title {
      width: 100%;

      &::after {
        content: '';
        display: block;
        height: .2rem;
        width: 3.5rem;
        margin-top: 1.3rem;
      }

      &__dropdown {
        font-size: 2.4rem;
        &:after {
          display: none;
        }
      }
    }
  }

  &__img {
    flex: 1;
    min-height: 40rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit:cover;
      display: block;
    }
  }
}

.dropdown {
  &__item {
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        transition: all .2s ease-in-out;

        &::after {
          content: "\e145";
          display: inline-block;
          font-family: 'Material Icons';
          font-weight: normal;
          text-align: center;
          font-size: 1.3rem;
          background: transparent;
        }
      }

      &::after {
        content: "";
        height: .2rem;
        width:3.5rem;
        display: block;
        margin: 1rem 0;
      }

      &:hover {
        .icon {
          transform: scale(1.15);
        }
      }
    }
    &__content {
      overflow: hidden;
      max-height: 0;

      margin-bottom: 2rem;
      transition: max-height .25s ease-in-out;
    }
    &--show {
      .dropdown__item__title {
        .icon {
          &:after {
            content: "\e15b";
          }
        }
      }
      .dropdown__item__content {
        max-height: 50rem;
      }
    }
  }
}

/*RESPONSIVE*/
/*Tablets landscape*/
@media only screen and (min-width: 48rem) and (max-width: 76.7rem) and (orientation: landscape) {
  .infos {
    &__title {
      margin: 4rem 0 2rem !important;
    }

    &__text {
      width: calc(50% - 8rem);
      margin: 0 4rem !important;
      flex: unset;

      &__title {
        margin: 2rem 0 !important;
      }

      &__wrapper {
        padding: 2rem 0 !important;
      }

      &__text {
        p {
          &:last-child {
            margin-bottom: 2rem;
          }
        }
      }
    }

    &__img {
      width: 50%;
    }

    &__reverse {
      .infos__wrapper {
        flex-direction: row !important;
      }
    }

    &__wrapper {
      flex-direction: row-reverse !important;
      justify-content: flex-start;
      gap: 0;
      width: 100%;
    }
  }
}

/*Tablets portrait*/
@media only screen and (min-width: 48rem) and (max-width: 76.7rem) and (orientation: portrait) {
  .infos {
    &__title {
      margin: 4rem 0 2rem !important;
    }

    &__text {
      &__wrapper {
        padding: 4rem 2rem !important;
      }
    }
  }
}

/*Mobiles landscape*/
@media only screen and (max-device-width: 48rem) and (orientation: landscape) {
  .infos {
    &__text {
      &__title {
        margin-top: 2rem;
      }
    }
  }
}

/*Mobiles*/
@media only screen and (max-device-width: 48rem) {
  .infos {
    &__title {
      margin: 2rem 0 1rem 0;
    }

    &__text {
      margin: 0 2rem;

      &__title {
        margin-bottom: 2rem;

        &::after {
          margin: 1rem 0 2rem;
        }
      }

      &__wrapper {
        padding: 2rem 2rem 1rem;
      }

      &__text {
        p {
          margin-bottom: 1rem;
        }
      }
    }

    &__img {
      min-height: unset;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__reverse {
      .infos__wrapper {
        flex-direction: column-reverse;

        .infos__text__wrapper {
          padding: 2rem;
        }
      }
    }

    &__wrapper {
      width: 100%;
      flex-direction: column-reverse;
    }
  }

  .dropdown {
    &__item {
      &__title {
        margin-bottom: 2rem;

        &::after {
          margin: 1rem 0 2rem;
        }

        &__content {
          align-items: flex-start;
          gap: 2rem;
          margin-bottom: 2rem;
        }

        .icon {
          height: 2.4rem;
          width: 2.4rem;

          &::after {
            font-size: 2.3rem;
          }
        }

        &::after {
          margin: 1rem 0 2rem;
        }
      }

      &__content {
        margin-bottom: 4rem;
      }

      &:last-child {
        .dropdown__item__content {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
