.infos {
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 8rem 0 4rem 0;
    text-align: center;
  }
  &__reverse {
    .infos__wrapper {
      flex-direction: row-reverse;
      .infos__text__wrapper {
        padding-left: 4rem;
      }
      .infos__text {
        align-items: flex-end;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    margin: 4rem 0;

    &__wrapper {
      padding-right: 4rem;
    }

    &__title {
      width: 100%;

      &::after {
        content: '';
        display: block;
        height: .2rem;
        width: 3.5rem;
        margin-top: 1.3rem;
      }

      &__dropdown {
        font-size: 2.4rem;
        &:after {
          display: none;
        }
      }
    }
  }

  &__img {
    flex: 1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
  }
}

.dropdown {
  &__item {
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        transition: all .2s ease-in-out;

        &::after {
          content: "\e145";
          display: inline-block;
          font-family: 'Material Icons';
          font-weight: normal;
          text-align: center;
          font-size: 1.3rem;
          background: transparent;
        }
      }

      &::after {
        content: "";
        height: .2rem;
        width:3.5rem;
        display: block;
        margin: 1rem 0;
      }

      &:hover {
        .icon {
          transform: scale(1.15);
        }
      }
    }
    &__content {
      overflow: hidden;
      max-height: 0;

      margin-bottom: 2rem;
      transition: max-height .25s ease-in-out;
    }
    &--show {
      .dropdown__item__title {
        .icon {
          &:after {
            content: "\e15b";
          }
        }
      }
      .dropdown__item__content {
        max-height: 50rem;
      }
    }
  }
}
