<div class="infos" [id]="id" [class.infos__darken]="(datas$ | async).options.darkenBg" [class.infos__reverse]="(datas$ | async).options.imgTo == 'left'">
  <h2 *ngIf="(datas$ | async).info.globalTitle" class="infos__title">{{(datas$ | async).info.globalTitle}}</h2>
  <div class="infos__wrapper">
    <div class="infos__text">
      <div class="infos__text__wrapper">
        <h2 class="infos__text__title" [ngClass]="{'infos__text__title__dropdown': (datas$ | async).info.dropdown}">
          {{(datas$ | async).info.title}}
        </h2>

        <div *ngIf="(datas$ | async).info.text" class="infos__text__text">
          <p *ngFor="let text of (datas$ | async).info.text">
            {{text}}
          </p>
        </div>

        <div *ngIf="(datas$ | async).info.dropdown" class="dropdown">
          <div *ngFor="let item of (datas$ | async).info.dropdown" class="dropdown__item" [ngClass]="{'dropdown__item--show': item.isVisible}">
            <div class="dropdown__item__title" (click)="toggleItemVisibility(item)" >
              <div class="dropdown__item__title__content">
                {{item.title}}<span class="icon"></span>
              </div>
            </div>
            <div class="dropdown__item__content">{{item.text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="infos__img">
      <img [src]="(datas$ | async).info.img" alt="" />
    </div>
  </div>
</div>
