.news {
  padding: 8rem 0;

  h2 {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__slider {
    width: 120rem;
    margin: 0 auto;
    position: relative;

    &__content {
      display: flex;
      width: 100%;
      height: 80rem;
      justify-content: space-between;
      gap: 8rem;
    }

    &__controls {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3rem;
      position: absolute;
      bottom: 0;
      left: 0;

      .swiper-button {
        background: transparent;
        padding: 0;
        margin: 0;
        line-height: 1;
        border: none;
        cursor: pointer;
        z-index: 5;
      }
    }
  }

  .news__block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
    flex: 1;
    gap: 4rem;

    &__title {
      font-size: 2.8rem;
      font-weight: 500;
      text-transform: uppercase;
      width: 100%;
    }

    &__date {
      text-align: right;
      width: 100%;
      font-weight: 500;
    }
  }

  .img__block {
    flex: 1;
    position: relative;
    overflow: hidden;

    &__content {
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 102.4rem) {
  .news {
    &__slider {
      width: 90%;
    }
  }
}

@media screen and (max-width: 47.9rem) {
  .news {
    padding: 2rem 0;

    h2 {
      padding: 0 0 2rem 0;
      margin-bottom: 0;
    }

    &__slider {
      width: calc(100vw - 4rem);
      align-items: center;

      &__content {
        flex-flow: column wrap;
        gap: 0;
      }

      &__controls {
        justify-content: center;
        align-self: flex-end;
      }
    }

    .news__block {
      order: 2;
      gap: 2rem;

      &__title {
        margin-bottom: 0;
      }
    }

    .img__block {
      order: 1;
    }

  }
}
