<div class="news" [id]="id">
  <h2>{{(datas$ | async).info.title}}</h2>

  <div class="news__slider">
    <swiper [config]="config">
      <ng-template class="news__slider__slide" swiperSlide *ngFor="let slide of (datas$ | async).list">
        <div class="news__slider__content">
          <div class="news__block">
            <h3 class="news__block__title">
              {{slide.title}}
            </h3>
            <div class="news__block__text" [innerHTML]="slide.text"></div>
            <div class="news__block__date">{{slide.date}}</div>
          </div>
          <div class="img__block">
            <div class="img__block__wrap">
              <div class="img__block__content">
                <div class="img__block__inner">
                  <img [src]="slide.img" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </swiper>
    <div class="news__slider__controls">
      <button class="swiper-button swiper-button-prev" (click)="slidePrev()"><mat-icon>arrow_back</mat-icon></button>
      <div class="customPagination"></div>
      <button class="swiper-button swiper-button-next" (click)="slideNext()"><mat-icon>arrow_forward</mat-icon></button>
    </div>

  </div>
</div>
