.app-button {
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border: .2rem solid transparent;
  border-radius: 5rem;
  transition: .25s;
  margin: .4rem 0;
  font-weight: 700;
  letter-spacing: $base-letter-spacing;
  cursor: pointer;
}
